.table{
  border-collapse:separate;
  border-spacing:0 9px;
}
.table tr {
    padding-top: 10px;
    padding-bottom: 10px;
}
@media (max-width:770px) {
  td{
    display:block;
    border-top:0px !important;
  }
  .sl{
    width:100% !important;
  }

}
